
<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
      <canvas (chartClick)="doughnutChartClicked($event)" (chartHover)="doughnutChartHovered($event)" [chartType]="lineChartType"
              [colors]="lineChartColors"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [legend]="lineChartLegend"
              [options]="lineChartOptions"
              [plugins]="lineChartPlugins"
              baseChart
              height="400"
              width="400"></canvas>
    </div>
  </div>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas [chartType]="doughnutChartType"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              baseChart>
      </canvas>
    </div>
  </div>
</div>
