.login-main{

	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.mat-form-field {
	width: 100%;
	min-width: 300px;
}

mat-card-title,
mat-card-content {
	display: flex;
	justify-content: center;
}

.btn-login {
	display: flex;
	justify-content: flex-end;
}

.example-container {
	display: flex;
	flex-direction: column;
}

.example-container > * {
	width: 100%;
}

table {
  width: 100%;
}

.content-side{
  border: 1px solid black;
}

.content-main{
  border: 1px solid black;
}
