<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div>
<!--        <div *ngFor="let document of documents">-->
<!--          &lt;!&ndash;          <a [routerLink]="['/client', clientId, 'document', document.id]" mat-list-item>{{ document.id }}</a>&ndash;&gt;-->
<!--          <a (click)="documentDetails(document.id)" mat-list-item>{{ document.id }}</a>-->
<!--        </div>-->
        <table mat-table [dataSource]="documents" class="mat-elevation-z8">
  <ng-container matColumnDef="document_name">
    <th mat-header-cell *matHeaderCellDef> Document ID </th>
    <td mat-cell *matCellDef="let element" (click)="documentDetails(element.id)"> {{element.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="documentsColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: documentsColumn;"></tr>
</table>
      </div>
    </div>
    <div class="col-sm-9">
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
        <ng-container matColumnDef="client_code">
          <th *matHeaderCellDef mat-header-cell> Code</th>
          <td *matCellDef="let element" mat-cell> {{element.client_code}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="client_data">
          <th *matHeaderCellDef mat-header-cell> Data</th>
          <td *matCellDef="let element" mat-cell> {{element.client_data}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="client_ref_code">
          <th *matHeaderCellDef mat-header-cell> Ref Code</th>
          <td *matCellDef="let element" mat-cell> {{element.client_ref_code}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="document_heading">
          <th *matHeaderCellDef mat-header-cell> Document Heading</th>
          <td *matCellDef="let element" mat-cell> {{element.document_heading}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>


      <!-- Copyright 2019 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
    </div>
  </div>
</div>
