<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div [hidden]="!isAuthenticated" class="" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img alt="sf-logo" src="../assets/images/sf-logo.png">
    </div>
    <div class="list-group list-group-flush">
      <a _ngcontent-hee-c2="" class="nav-link list-group-item list-group-item-action" href="" [class.active]="isActive">
        <i _ngcontent-hee-c2="" class="material-icons">dashboard</i>
        <p _ngcontent-hee-c2="">Dashboard</p>
      </a>
      <a _ngcontent-hee-c2="" class="nav-link list-group-item list-group-item-action" href="/client" (click)="active">
        <i _ngcontent-hee-c2="" class="material-icons">person</i>
        <p _ngcontent-hee-c2="">Clients</p>
      </a>
      <a _ngcontent-hee-c2="" class="nav-link list-group-item list-group-item-action" href="/settings">
        <i _ngcontent-hee-c2="" class="material-icons">settings_applications</i>
        <p _ngcontent-hee-c2="">Settings</p>
      </a>
      <a (click)="logout()" _ngcontent-hee-c2="" class="nav-link list-group-item list-group-item-action" (click)="logout()" href="#">
        <i _ngcontent-hee-c2="" class="material-icons">exit_to_app</i>
        <p _ngcontent-hee-c2="">Logout</p>
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav [hidden]="!isAuthenticated" class="navbar navbar-expand-lg">
      <!--        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="logout-link nav-link" (click)="logout()" href="#">Logout</a>
          </li>
        </ul>

      </div>
    </nav>
    <div *ngIf="!isAuthenticated;then content else other_content"></div>
    <ng-template #content>
      <div class="sf-login-content">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
    <ng-template #other_content>
      <div class="sf-main-content">
        <router-outlet>
          <h3 class="page-title">Dashboard</h3>
          <hr>
        </router-outlet>
      </div>
    </ng-template>

  </div>
  <!-- /#page-content-wrapper -->
</div>
