.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

@font-face {
  font-family: 'lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'lato-light';
  src: url('../assets/fonts/Lato/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Lato/Lato-Light.woff')  format('woff');
}

@font-face {
  font-family: 'lato-thin';
  src: url('../assets/fonts/Lato/Lato-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/Lato/Lato-Thin.woff')  format('woff');
}

.thin {
  font-family: lato-thin;
}

#wrapper {
  height: 100%;
}

#page-content-wrapper {
  height: 100%;
}

.sf-login-content {
  height: 100%;
}

.sf-main-content {
  padding: 20px 40px;
}

#sidebar-wrapper {
  min-height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

#sidebar-wrapper .sidebar-heading {
   background: url(../assets/images/logo-bg.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2rem;
}

#sidebar-wrapper .sidebar-heading img {
  display: block;
  margin: 0 auto;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;

}

#sidebar-wrapper .list-group .list-group-item {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
    border-radius: 5px;
  font-size: 10pt;
  color: #afafaf;
}

#sidebar-wrapper .list-group .list-group-item i {
  font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

#sidebar-wrapper .list-group .list-group-item p {
  margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

#sidebar-wrapper .list-group .list-group-item.active {
  color: white;
  background: #76B84C;
}

#page-content-wrapper {
  min-width: 100vw;
  height: 100%
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.navbar {
  display: block;
  margin: 20px auto;
  width: 98%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.logout-link {
  color: #76b84c;
  font-size: 10pt;
  border-radius: 102px;
}

.page-title {
  color: #363636;
}