<form>
  <router-outlet></router-outlet>
  <table [dataSource]="pageOfItems" class="mat-elevation-z8" mat-table>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="entityid">
      <th *matHeaderCellDef mat-header-cell> Entity ID</th>
      <td *matCellDef="let element" mat-cell> {{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="clientName">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.ClientName}}</td>
    </ng-container>

    <ng-container matColumnDef="agent">
      <th *matHeaderCellDef mat-header-cell> Agent</th>
      <td *matCellDef="let element" mat-cell> {{element.Agent}}</td>
    </ng-container>

    <ng-container matColumnDef="retainerAgreement">
      <th *matHeaderCellDef mat-header-cell> Retainer Agreement</th>
      <td *matCellDef="let element" mat-cell> {{element.RetainerAgreement}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> Status</th>
      <td *matCellDef="let element" mat-cell> {{element.Status}}</td>
    </ng-container>

    <ng-container matColumnDef="reports">
      <th *matHeaderCellDef mat-header-cell> Reports</th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['/client', element.client_code]" mat-list-item>{{element.client_code}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th *matHeaderCellDef mat-header-cell> Create date</th>
      <td *matCellDef="let element" mat-cell> {{element.CreateDate}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <div class="card-footer pb-0 pt-3">
    <jw-pagination (changePage)="onChangePage($event)" [items]="clientItems" itemsPerPage="5"></jw-pagination>
  </div>

</form>
