<div class="login-container">
  <div class="site-wrapper">
    <div class="v-center">
      <div class="container">
        <p class="title">Welcome to</p>
        <h1 class="title">StrategyFirst</h1>

        <button type="button" (click)="login()" class="ms-btn btn btn-primary">
          Login via Microsoft Account
        </button>
      </div>
    </div>
  </div>
</div>
