.login-container {
  height: 100%;
  background: url(../../../assets/images/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.v-center {
  vertical-align: middle !important;
  display: table-cell !important;
}

.login-container p.title {
  font-family: lato-thin;
  font-size: 40px;
  color: #ffffff;
}

.login-container h1.title {
  font-family: lato;
  font-size: 60px;
  color: #ffffff;
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
          transform: translateY(-20px);
}

.login-container .ms-btn:before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
  background-image : url('../../../assets/images/microsoft.png');
}

.login-container .ms-btn {
  background: #ffffff;
  border: none;
  color: #333333;
  padding: 15px;
  font-family: lato;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
}